:root {
    --primary_colour: #1a1a1a;
    --secondary_colour: #f9f9f9;
  }

@font-face {
    font-family: 'primary_font';
    src: url('./design_assets/font/Chelsea_Market/ChelseaMarket-Regular.ttf');
}


body{
    background-color: var(--secondary_colour);
    margin: 0;
    padding: 0;
    background-image: url(./design_assets/images/background_page01.png);
    background-size: contain;
    background-repeat:no-repeat;
    user-select: none;
}

#page{
    height: 300px;
    width: 300px;
    position: relative;
}

#heading{
    position: absolute;
    top: 0;
    height: 15px;
    width: 267px;
    margin: 8px;
    -webkit-app-region: drag;
}

#logo{
    position: absolute;
    top: 0;
    left: 5px;
    height: 15px;
    aspect-ratio: auto;
}

#close{
    z-index: 10px;
    position: absolute;
    padding: 2px;
    top: 8px;
    right: 8px;
    height: 11px;
    aspect-ratio: 1;
}

#box{
    position: absolute;
    bottom: 0;
    height: 261px;
    width: 284px;
    margin: 8px;
    background-color: rgba(222, 153, 63, 0);
    overflow: hidden;
}

.centre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    aspect-ratio: 1;
}

#ring{
    height: 100%;
    width: 100%;
    border-radius: 0%;
    position: absolute;
}
#circle00{
    background-color: var(--primary_colour);
    height: 92px;
    left: 48%;
    transition: height 1s 0s;
}
#circle01{
    background-color: var(--secondary_colour);
    height: 92px;
    left: 48%;
    transition: height 0.5s 0s;
}
#circle02{
    background-color: var(--primary_colour);
    height: 83px;
    left: 50%;
    transition: height 0.5s 0s;
}

#bigegg{
    height: 50px;
    left: 48%;
    aspect-ratio: auto;
    opacity: 0%;
    transition: opacity 0s 0.3s,height 1s 0.3s;
    border-radius: 0%;
}

#time{
    height: 50px;
    left: 48%;
    aspect-ratio: auto;
    opacity: 0%;
    transition: opacity 0s 0.35s,height 1s 0.35s;
    border-radius: 0%;
}
#text{
    color: var(--primary_colour);
    font-family: 'primary_font';
    font-size: 30px;
    border-radius: 0;
    text-align: center;
    height: 30px;
    width: 120px;
    top:47%;
    left: 48%;
    opacity: 0%;
    transition: opacity 0.3s 1s;
}

#end{
    background-color: var(--primary_colour);
    color: var(--secondary_colour);
    font-family: 'primary_font';
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    height: 30px;
    width: 80px;
    top:62%;
    left: 48%;
    opacity: 0%;
    transition: opacity 0.3s 1s;
}

.egg{
    position: absolute;
    height: 80px;
    aspect-ratio: auto;
    transform: translate(-50%,-50%);
}
.egg:hover{
    height: 84px;
}
#threeegg{
    top: 63%;
    left: 29%;
    transition: height 0.2s 0s, top 1s 0s, left 1s 0s;
}
#sixegg{
    top: 26%;
    left: 48%;
    transition: height 0.2s 0s, top 1s 0s, left 1s 0s;
}
#tenegg{
    top: 63%;
    left: 67%;
    transition: height 0.2s 0s, top 1s 0s, left 1s 0s;
}
#mins{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 48%;
    font-family: 'primary_font';
    color: var(--secondary_colour);
    transition: opacity 0.3s 0s;
}
